@charset "UTF-8";
/* CSS Document */


/**************************************************************************** 
    reset
****************************************************************************/
* {-ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}


/**************************************************************************** 
    layout
****************************************************************************/
/* Frame */
html,body {overflow:hidden;min-width:1600px;min-height:800px}
#wrap {visibility:visible;overflow:visible;position:relative;height:100%;font-size:3.6vw;letter-spacing:-0.03em;opacity:1;background:url('/img/type_b/visual_bg.jpg') 0 0 no-repeat;background-size:cover}


/****************************************************************************
	content area
****************************************************************************/
#sign {position:absolute;left:50%;height:100%;opacity:0;transform:translateX(-50%);transition:opacity 1s ease-in-out}
#sign .tit {position:absolute;top:478px;left:68px;font-family:'HGGGothicssi',sans-serif;font-size:45px;font-weight:800;color:#fff;opacity:0;transform:perspective(500px) rotateX(0)}
#sign img {width:auto;height:100%}
#wrap.active #sign {opacity:1}
#wrap.active #sign .tit {opacity:1;transform:perspective(500px) rotateX(1440deg);transition:opacity 1.5s 0.5s, transform 2s 0.5s ease-out}

#shop {position:absolute;left:13.2%;top:36%;height:50%;width:30%}
#shop .txt_area {position:absolute;left:0;top:0}
#shop .txt_area p {font-family:'HGGGothicssi';font-weight:800;color:#fff;line-height:1.2em;white-space:nowrap;text-indent:10%;text-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);opacity:0}
#shop .link_shop {position:absolute;top:67%;left:14%;opacity:0;transform:scale(1.1) translateY(20%)}
#shop .link_shop img {display:block;width:80%;height:auto}
#wrap.active #shop .txt_area p {text-indent:0;opacity:1;transition:opacity 0.5s ease-in-out, text-indent 0.5s ease-in-out;animation:txtUpDown 0.8s infinite alternate ease-in-out;}
#wrap.active #shop .txt_area p:nth-child(1) {font-size:54%;transition-delay:1s;animation-delay:2s;}
#wrap.active #shop .txt_area p:nth-child(2) {font-size:83%;color:#00c1f9;transition-delay:1.3s;animation-delay:2.2s;}
#wrap.active #shop .txt_area p:nth-child(3) {font-size:60%;transition-delay:1.6s;animation-delay:2.4s;}
#wrap.active #shop .link_shop {opacity:1;transform:scale(1) translateY(0%);transition:all 0.5s 1.9s ease-in-out;animation:linkShop 1s 2.4s infinite alternate ease-in-out}
@keyframes linkShop {
    0%       {transform:scale(1) translateY(0)}
    100%     {transform:scale(1.02) translateY(20%)}
}

#fa {position:absolute;left:58%;bottom:0;height:37%;width:50%}
#fa .txt_area {position:absolute;left:0;top:0}
#fa .txt_area p {font-size:100%;text-align:left;opacity:0;transform:translateX(-10%)}
#fa .txt_area p img {width:80%;margin:0;}
#fa .link_fa {position:absolute;top:-95%;left:11%;opacity:0;transform:translate(-12%, -12%) rotate(20deg)}
#fa .link_fa img {display:block;width:80%;height:auto}
#wrap.active #fa .txt_area p {opacity:1;transform:translateX(0);transition:all 0.5s ease-in-out;animation:txtUpDown 0.8s infinite alternate ease-in-out;}
#wrap.active #fa .txt_area p:nth-child(1) {transition-delay:2.4s;animation-delay:3.8s;}
#wrap.active #fa .txt_area p:nth-child(2) {transition-delay:2.7s;animation-delay:4s;}
#wrap.active #fa .txt_area p:nth-child(3) {transition-delay:3s;animation-delay:4.2s;}
#wrap.active #fa .link_fa {opacity:1;transform:translate(0) rotate(20deg);transition:all 0.5s 3.3s ease-in-out;animation:linkFa 1s 2.4s infinite alternate ease-in-out}
@keyframes linkFa {
    0%       {transform:translate(0) rotate(20deg)}
    100%     {transform:translate(-12%, -12%) rotate(20deg)}
}

@keyframes txtUpDown {
    0%          {transform:translateY(0)}
    80%, 100%        {transform:translateY(10%)}
}