@charset "UTF-8";
/* CSS Document */



/**************************************************************************** 
    layout
****************************************************************************/
/* Frame */
html,body {overflow:hidden;background-color: black;}
#wrap {visibility:visible;overflow:hidden;position:fixed;top:50%;left:50%;width:1920px;height:920px;font-family:'NotoSansKR',sans-serif;letter-spacing:-0.03em;opacity:1;transform:translate(-50%, -50%);}

#footer {position:absolute;left:50%;bottom:40px;width:730px;transform:translateX(-50%);text-shadow:2px 2px 0 rgba(255, 255, 255, 1);transition:all 0.4s}
#footer:after {content:"";display:block;clear:both}
#footer .logo {float:left;margin-right:20px}
#footer address {padding-top:10px;font-size:14px;color:#373737}
#footer address span {margin-right:8px}
#footer address span:before{ content: ''; display: inline-block; width:1px; height:10px; margin-right:8px; background-color: #9c9c9c}
#footer address span:nth-child(1)::before, 
#footer address span:nth-child(4)::before {display:none}
#footer .copyright {font-size:14px;color:#373737}
.active #footer {opacity:0}


/****************************************************************************
	content area
****************************************************************************/
#secVisual {position:absolute;width:100%;height:100%}

.prograss {position:absolute;left:50%;bottom:10px;z-index:10;width:1718px;height:180px;background:0 0 no-repeat;background-size:cover;opacity:0;transform:translateX(-50%);transition:all 0.3s}
.active .prograss {opacity:1}
.active[slide-index="0"] .prograss {background-image:url('/img/type_c/progress1.png')}
.active[slide-index="1"] .prograss {background-image:url('/img/type_c/progress2.png')}
.active[slide-index="2"] .prograss {background-image:url('/img/type_c/progress3.png')}
.active[slide-index="3"] .prograss {background-image:url('/img/type_c/progress4.png')}

.gate {position:absolute;z-index:3;width:100%;height:100%}
.gate .btn_area {position:absolute;top:350px;left:50%;z-index:1;transform:translateX(-50%);transition:all 0.4s}
.gate .btn_area:after {content:'';position:absolute;top:12px;left:50%;width:2px;height:41px;background-color:#4a4545;}
.gate .btn_area button {position:relative;font-size:40px;font-weight:300;color:#524e4e;letter-spacing:-0.12em;text-shadow:2px 2px 0 rgba(255, 255, 255, 1)}
.gate .btn_area button:nth-child(1) {margin-right:20px}
.gate .btn_area button:nth-child(2) {margin-left:20px}
.gate .btn_area button:after {content:'';display:block;position:absolute;width:18px;height:18px;border-top:2px solid #4a4545;border-left:2px solid #4a4545}
.gate .btn_area button:nth-child(1):after {top:24px;left:-20px;transform: rotate(-45deg)}
.gate .btn_area button:nth-child(2):after {top:24px;right:-25px;transform: rotate(135deg)}
.gate .btn_area button:nth-child(1):hover:after {animation:btnFa 0.5s infinite alternate ease-in-out}
.gate .btn_area button:nth-child(2):hover:after {animation:btnShop 0.5s infinite alternate ease-in-out}
.gate .model {position:absolute;bottom:0;height:920px;background:0 0 no-repeat;background-size:cover}
.gate .model1 {right:-40px;width:468px;background-image:url('/img/type_c/model1.png')}
.gate .model2 {width:793px;background-image:url('/img/type_c/model2.png');opacity:0;pointer-events:none}
.gate .model3 {left:-60px;width:806px;background-image:url('/img/type_c/model3.png?v=1')}
.gate .model4 {width:738px;background-image:url('/img/type_c/model4.png');opacity:0;pointer-events:none}
.active .gate {pointer-events:none}
.active .gate .btn_area {opacity:0}
.active .gate .model {opacity:0;transition:all 0.4s}
.active .gate .model1 {right:0px}
.active .gate .model2 {right:48px}
.active .gate .model3 {left:49px}
.active .gate .model4 {left:50px}
.active[slide-index="0"] .gate .model1 {right:33px;opacity:1}
.active[slide-index="0"] .gate .model3 {left:-60px}
.active[slide-index="1"] .gate .model2 {right:78px;opacity:1}
.active[slide-index="2"] .gate .model3 {left:79px;opacity:1}
.active[slide-index="2"] .gate .model1 {right:-40px}
.active[slide-index="3"] .gate .model4 {left:80px;opacity:1}
@keyframes btnFa {
    100%        {left:-30px}
}
@keyframes btnShop {
    100%        {right:-35px}
}

.strap {position:absolute;top:0;left:0;right:0;bottom:0;z-index:2;pointer-events:none}
.strap .shop {position:absolute;bottom:0;right:280px;width:126px;height:317px;border-top-right-radius:8px;background:linear-gradient(145deg,#14b8ff, #109dff, #109dff, #109dff,#0a78ff );transform:skewX(21deg);transform-origin:right bottom;box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5)}
.strap .shop_shadow {position:absolute;bottom:0;right:466px;z-index:-1;width:126px;height:317px;border-radius:4px 8px 0 0;background:linear-gradient(45deg,#1581cb 50%, #2572a8 80%);transform:skewX(-21deg)}
.strap .fa {position:absolute;top:0;left:425px;width:188px;height:495px;border-bottom-right-radius:13px;background:linear-gradient(145deg,#61d349, #77c254, #77c254, #77c254,#85c241 );transform:skewX(-21deg);transform-origin:left top;box-shadow:inset 1px 0 0 rgba(255, 255, 255, 0.3)}
.strap .fa_shadow {position:absolute;top:0;left:129px;z-index:-1;width:188px;height:495px;background:linear-gradient(160deg,#5ca739 50%, #448f2a 80%);transform:skewX(21deg)}
.strap .box_tit {position:absolute;top:200px;opacity:0}
.strap .box_tit .tit {margin-bottom:30px;font-family:'HGGGothicssi',sans-serif;font-size:49px;font-weight:200;color:#fff;line-height:1.2em;letter-spacing:-0.025em}
.strap .box_tit .tit em {position:relative;font-weight:600}
.strap .box_tit .tit em i {position:absolute;top:-13px;width:8px;height:8px;border-radius:100%;background-color:#fff}
.strap .box_tit .tit em i:nth-child(1) {left:20px}
.strap .box_tit .tit em i:nth-child(2) {left:60px}
.strap .box_tit .tit em i:nth-child(3) {left:115px}
.strap .box_tit .tit strong {display:inline-block;font-weight:800}
.strap .box_tit a {display:inline-block;height:46px;padding:7px 55px 0 40px;background-color:#fff;pointer-events:all}
.strap .box_tit a span {position: relative;font-size:20px;font-weight:400;vertical-align:middle;}
.strap .box_tit a span:after {content:'';display:block;position:absolute;width:10px;height:10px;top:11px;right:-18px;border-top:2px solid #4a4545;border-left:2px solid #4a4545;transform: rotate(135deg)}
.strap .shop .box_tit {left:60px;text-align:left;transform:skewX(-21deg)}
.strap .shop .box_tit .tit em {background:linear-gradient(45deg,#deff00,#edff01,#6bff14);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.strap .shop .box_tit .tit em i:nth-child(1) {background-color:#deff00}
.strap .shop .box_tit .tit em i:nth-child(2) {background-color:#edff01}
.strap .shop .box_tit .tit em i:nth-child(3) {left:100px;background-color:#6bff14}
.strap .shop .box_tit .tit strong {padding-left:23px}
.strap .shop .box_tit a {margin-left:55px;transform:skewX(21deg);background-color:#ffcd00}
.strap .shop .box_tit a span {display:block;color:#000;transform:skewX(-21deg)}
.strap .shop .box_tit a span:after {border-color:#000}
.strap .fa .box_tit {right:70px;text-align:right;transform:skewX(21deg)}
.strap .fa .box_tit .tit em {background:linear-gradient(45deg,#ff00b2,#ff01c1,#ff1443);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.strap .fa .box_tit .tit em i:nth-child(1) {background-color:#ff00b2}
.strap .fa .box_tit .tit em i:nth-child(2) {background-color:#ff01c1}
.strap .fa .box_tit .tit em i:nth-child(3) {background-color:#ff1443}
.strap .fa .box_tit .tit strong {padding-right:23px}
.strap .fa .box_tit a {margin-right:55px;transform:skewX(-21deg);background-color:#000}
.strap .fa .box_tit a span {display:block;color:#fff;transform:skewX(21deg)}
.strap .fa .box_tit a span:after {border-color:#fff}
.active .strap .shop {right:110px;width:570px;height:920px;border-radius:0;opacity:0;box-shadow:-6px 2px 10px rgba(0,0,0,0.1), inset 1px 0 0 rgba(255, 255, 255, 0.5)}
.active .strap .shop_shadow {opacity:0}
.active .strap .fa {left:485px;width:570px;height:920px;border-radius:0;opacity:0;box-shadow:6px 2px 10px rgba(0,0,0,0.1), inset 1px 0 0 rgba(255, 255, 255, 0.3)}
.active .strap .fa_shadow {opacity:0}
.active[slide-index="0"] .strap .shop,
.active[slide-index="1"] .strap .shop {right:110px;width:570px;height:920px;opacity:1;transition:all 0.4s}
.active[slide-index="2"] .strap .fa,
.active[slide-index="3"] .strap .fa {left:485px;width:570px;height:920px;opacity:1;transition:all 0.4s}
.active[slide-index="0"] .strap .shop .box_tit,
.active[slide-index="1"] .strap .shop .box_tit {left:30px;opacity:1;transition:all 1s 0.7s}
.active[slide-index="2"] .strap .fa .box_tit,
.active[slide-index="3"] .strap .fa .box_tit {right:40px;opacity:1;transition:all 1s 0.7s}
.active[data-section="shop"] .strap .shop .box_tit .tit em i {animation:strapTit 0.5s 1.5s infinite alternate ease-in-out}
.active[data-section="shop"] .strap .shop .box_tit .tit em i:nth-child(2) {animation-delay:1.7s}
.active[data-section="shop"] .strap .shop .box_tit .tit em i:nth-child(3) {animation-delay:1.9s}
.active[data-section="fa"] .strap .fa .box_tit .tit em i {animation:strapTit 0.5s 1.5s infinite alternate ease-in-out}
.active[data-section="fa"] .strap .fa .box_tit .tit em i:nth-child(2) {animation-delay:1.7s}
.active[data-section="fa"] .strap .fa .box_tit .tit em i:nth-child(3) {animation-delay:1.9s}
@keyframes strapTit {
    100%        {top:-23px}
}

.swiper-container {pointer-events:none}
.swiper-container .swiper-slide {height:920px;background:0 0 no-repeat;background-size:cover}
.swiper-container .swiper-slide[data-swiper-slide-index="0"] {background-image:url('/img/type_c/visual_bg1.jpg')}
.swiper-container .swiper-slide[data-swiper-slide-index="1"] {background-image:url('/img/type_c/visual_bg2.jpg')}
.swiper-container .swiper-slide[data-swiper-slide-index="2"] {background-image:url('/img/type_c/visual_bg3.jpg')}
.swiper-container .swiper-slide[data-swiper-slide-index="3"] {background-image:url('/img/type_c/visual_bg4.jpg')}
.active .swiper-container {pointer-events:all}

.bg {position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;background:url('/img/type_c/gate_bg.jpg') 0 0 no-repeat;background-size:cover}
.actve .bg {opacity:0;transition:opacity 1s}